* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarala", sans-serif;
}

.header {
  .navbar {
    padding-top: 0;
  }

  .wrap-navbar ul li a:hover {
    display: inline-block;
    box-shadow: 0 2px #04b69a;
  }

  .wrap-navbar .navbar-nav > .active > a {
    color: #04b69a !important;
  }

  .wrap-navbar .navbar-nav .nav-link {
    color: #333333;
    display: inline-block;
    list-style: none;
  }

  .wrap-languange ul li a:hover {
    display: inline-block;
    box-shadow: 0 2px #04b69a;
  }

  .wrap-languange .navbar-nav > .active > a {
    color: #04b69a !important;
  }

  .wrap-languange .navbar-nav .nav-link {
    color: #333333;
    display: inline-block;
    list-style: none;
  }

  .vertical-list {
    border-left: 1px solid rgba(196, 196, 196, 0.5);
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .login {
    width: 113px;
    height: 35px;
    background: #04b69a;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-align: center;
    color: #ffffff !important;
    border-style: none;
    outline-style: none;
    margin-left: 1rem;
    cursor: pointer;
  }
}

main {
  .hero {
    min-height: 80vh;

    .wrapper {
      h1 {
        font-family: "Sarala", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        color: #00ad92;
      }

      .color-blue {
        color: #1947a7 !important;
        padding-bottom: 2rem;
      }

      span {
        font-family: "Sarala", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        padding-bottom: 2rem;
      }

      .color-grey {
        color: #636363 !important;
      }

      .hashtag {
        font-family: "Sarala", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: #1947a7;
        padding-top: 1.5rem;
      }

      .btn-hero {
        width: 210px;
        height: 50px;
        background: #04b69a;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        font-family: "Sarala", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        text-align: center;
        color: #ffffff;
        outline: none;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
      }
    }
    .image-wrapper {
      img {
        width: 536.18px;
        height: 427.69px;
      }
    }
  }

  .investasi {
    background: #f6f6f680;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper-card {
      padding-top: 3rem;

      .card {
        background: #ffffff;
        width: 266px;
        height: 299px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        padding-top: 3rem;
        border: none;

        .inner {
          background: rgba(4, 182, 154, 0.7);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);
          border-radius: 20px;
          font-size: 25px;
          text-align: center;
          border-radius: 50%;
          display: inline-block;
          padding: 1rem;
        }

        .card-image {
          width: 93px;
          height: 93px;
        }

        .card-body .card-title {
          font-size: 0.5rem;
          color: #04b69a;
        }
      }
    }

    .wrapper {
      h1 {
        font-family: "Sarala", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
        color: #333333;
      }
    }
  }
}

.bg-line {
  background: #00ad92;
  height: 62px;
  width: auto;
}

footer {
  background: #04b69a;
  font-family: "Sarala", sans-serif;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .content {
      margin: 5px;
      color: white;

      .card-body {
        width: 296px;
        height: 214px;
        border-radius: 10px;
        border: none;
        background-color: #00ad92;
      }

      .content-title {
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        padding-bottom: 1rem;
      }

      .content-subtitle {
        line-height: 2rem;
      }

      .content-img img {
        width: 422.91px;
        height: auto;
        margin-top: 0;
      }
    }
  }

  .social-media {
    background: #00ad92;
    height: 70px;
    width: auto;
    bottom: 0px;
    padding: 15px 7px 0px 17px;

    .content-left {
      float: left;
      color: #ffffff;
      padding-top: 5px;
    }

    .content-right {
      float: right;

      .inner {
        background: #ffffff;
        border-radius: 50%;
        border-radius: 20px;
        text-align: center;
        display: inline-block;
        padding: 0.3rem;
      }

      ul {
        list-style-type: none;
      }
    }
  }
}
